<div class="container"> 
    <h1>orders#show</h1>
    <table class="table table-borderless">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Owner</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><%=@order.address%></td>
                        <td><%=@order.city%></td>
                        <% @order.products.each do |product|%>
                        <td>
                            <%= link_to "edit", edit_product_order_path(product,@order), class: "btn btn-outline-success btn-sm" %>
                            <%= link_to "delete", product_order_path(product,@order), method: :delete, class: "btn btn-outline-danger btn-sm" %>
                        </td>
                        <%end%>
                    </tr>
        </tbody>
    </table>

</div>